<div class="col-md-12">
    <div class="card">
        <img src="https://images.pexels.com/photos/2027696/pexels-photo-2027696.jpeg?cs=srgb&dl=berries-bowl-bowl-of-fruit-2027696.jpg&fm=jpg"
          class="img-thumbnail" alt="Fruit Bowl">
        <div class="card-body">
          <h5 class="card-title">Fruit Bowl</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
