<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Fresh Produce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view-cart">View Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="app-test">Test Component</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="orders">My Orders</a>
          <a class="dropdown-item" routerLink="manage-orders">Manage orders</a>
          <a class="dropdown-item" routerLink="manage-products">Manage Products</a>
        </div>
      </li>
    </ul>
    <ul id="LogIn" class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="view-cart"><button class="btn btn-primary">LogIn</button></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
